body {
    margin: 0 0 0;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;

}

.addCarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin-top: 20px;
}

.masterLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin-top: 20px;
}

